@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#webpack-dev-server-client-overlay-div,
#webpack-dev-server-client-overlay {
  display: none !important;
}

body {
  margin: 0;
  font-family: 'Orbitron';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}